{% if settings.enable_wishlist %}
<a class="wishlist" data-icon-wishlist href="#" data-product-handle="{{ product.handle }}&{{ product.selected_or_first_available_variant.id }}" data-id="{{ product.selected_or_first_available_variant.id }}">
  {%- if skin_1 == true -%}
  <svg xmlns="http://www.w3.org/2000/svg" width="21.514" height="19.721" viewBox="0 0 21.514 19.721">
    <path id="iconmonstr-favorite-4" d="M5.629,2.793c2.9,0,4.458,3.129,5.127,4.51.672-1.387,2.213-4.5,5.133-4.5A3.636,3.636,0,0,1,19.721,6.55c0,3.085-4.252,7.038-8.964,11.653C6.043,13.586,1.793,9.635,1.793,6.55A3.628,3.628,0,0,1,5.629,2.793ZM5.63,1A5.418,5.418,0,0,0,0,6.55C0,10.729,4.993,15,10.757,20.721,16.521,15,21.513,10.729,21.513,6.55A5.405,5.405,0,0,0,15.89,1.009a5.857,5.857,0,0,0-5.133,2.9A5.849,5.849,0,0,0,5.63,1Z" transform="translate(0 -1)"></path>
  </svg>
  {%- else -%}
  {% if settings.style_product_grid == 'style_product_grid_2' %}
  {% render 'icons8-heart' %}
  {% elsif settings.style_product_grid == 'style_product_grid_3' %}
  {% render 'icon-heart-2' %}
  <span class="wishlist-text">
    {{ 'wishlist.general.add_to_wishlist_1' | t }}
  </span>
  {% else %}
  {% render 'icon-heart-2' %}
  {% endif %}
  {%- endif -%}
</a>
{% endif %}

