
.dashboard-sidebar .nav-link{ font-size: 15px; font-weight: 600;  color: #393939; padding-left: 0; border-radius: 0; border-bottom: 1px solid #C3C3C3; margin-bottom: 0.5rem; }
  
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent !important; color: #E50A19 !important; font-weight: 700;
}

/* .account-page.custom-acc-page .breadcrumb{ font-family: 'Open Sans', sans-serif; } */
/* .account-page.custom-acc-page .breadcrumb a{ font-size: 16px; color: #06A89C; text-transform: uppercase; }  */
/* .account-page.custom-acc-page .breadcrumb span{ font-size: 16px; color: #161616; } */
.account-page.custom-acc-page .order-container { margin-bottom: 2rem; border: 1px solid #C3C3C3;  }
.account-page.custom-acc-page .order-container .order-header{ background-color: #F5F5F5 !important; }
.account-page.custom-acc-page .order-container .order-header p{ margin-top: 1rem; font-size: 16px; font-weight: 700; }
.account-page.custom-acc-page .order-container .order-header p a{ text-decoration: underline;  }
.account-page.custom-acc-page .order-container .order-information{ display: block !important; }
.account-page.custom-acc-page .order-container .order-information:not(:last-child){  border-bottom: 1px solid #C3C3C3; }
.account-page.custom-acc-page .order-container .order-information .product-title{ font-size: 18px; text-transform: uppercase; color: #161616; font-weight: 700; }
.account-page.custom-acc-page .order-container .order-information .product-description{ font-size: 14px; font-weight: 600; }
.account-page.custom-acc-page .order-container .order-information .product-price{ font-size: 20px; font-weight: 700; color: #E50219; }
.account-page.custom-acc-page .order-container .order-information .cta-links a{ font-size: 15px; color: #0F6AB9 !important; margin-right: 25px; text-decoration: underline; font-weight: 600;}
.account-page.custom-acc-page .order-container .order-information .cta-links p{ margin-bottom: 1rem;  position: relative; }
.account-page.custom-acc-page .order-container .order-information .cta-links p:not(:last-child) a:after{position: absolute; right: 6px; top: -3px; content: "|"; color: rgba(172,172,172,0.4); font-size: 3rem; font-weight: 200; }
.account-page.custom-acc-page .order-container .order-information .buy-it-again-btn{ border-radius: 6px; background-color: #3A84DF; color: #fff; font-weight: 700; font-size: 16px; padding: 1rem 1.5rem; display: block;}
.account-page.custom-acc-page .order-container .quantity-circle{ position: absolute; font-weight: 700; font-size: 16px; line-height: 1.4;
    right: 40px;
    top: 0;
    width: 23px;
    height: 23px;
    background: #E50A19;
    color: white;
    border-radius: 100%; }


.addresses-page.custom-acc-page .page-header .address-heading{ font-size: 20px; font-weight: 700;  text-transform: uppercase; color: #161616;}
.addresses-page.custom-acc-page .page-header .address-heading a { font-size: 15px; }
.addresses-page.custom-acc-page .customer-info label{  font-size: 14px; font-weight: 700; color: #161616; }
.addresses-page.custom-acc-page .customer-info input, select{ font-size: 15px !important; border: 1px solid #D2D2D2 !important; padding: 0.8rem !important; background: #fff !important; max-width: none;}
.addresses-page.custom-acc-page .change-password { font-size: 14px; }
.addresses-page.custom-acc-page .customer-info select+.icon-dropdown{ right: 18px; z-index: 10; }

.link-blue{ color: #0E6AB9; }
.text-underline{ text-decoration: underline; }

/* .add-edit-addr{ position: relative; } */
.address-modal{ position: absolute; background: #fafafa; z-index: 100; width: 100%; top:0; padding: 2rem; left: -9%; }
.addresses-page.custom-acc-page .modal-overlay{z-index: 10;
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: 100%;
    top: 50%; transform: translateY(-50%);
    height: 100%;
    left: 0; }

.address-links a{ text-decoration: underline;  color: #0E6AB9;}
.address-links span{ font-weight: 500; }
.border-top-grey{ border-top: 1px solid #D2D2D2; }
.addresses-page.custom-acc-page .add-address-btn, .action-btn .btn[type="submit"]{ background: #3A84DF; border-color: #3A84DF; color: #fff; border-radius: 6px; }
.account-page .addr{ font-size: 14px;  }

.other-addreses.card{ width: 33%; }


/* order details */

.account-page.custom-acc-page .order-details-header{ background: #F5F5F5 !important; padding: 1.5rem; border-radius: 10px; }
  .account-page.custom-acc-page .order-details-info{ font-size: 14px; }
  .account-page.custom-acc-page  a.print-btn{ font-size: 18px; font-weight: 700; color: #2680EB; text-decoration: underline; }
  .account-page.custom-acc-page .order-details-after:after{ content: ''; position: absolute;  width: 1px; height: 100%; background: #C3C3C3; top: 0; right: -25px; }
  .account-page.custom-acc-page .order-status-header{ font-size: 14px; }
  .account-page.custom-acc-page .order-data .order-item{ width: 48%; border-color: #C3C3C3 !important; border-radius: 8px; }
  .account-page.custom-acc-page .order-data .order-item p.product-title a{font-weight: 700;  font-size: 18px; color: #161616; text-transform: uppercase; }
  .account-page.custom-acc-page .order-data .order-item .product-description { font-weight: 600; font-size: 14px; }
  .account-page.custom-acc-page .order-data .order-item .write-review a { font-size: 14px; color: #0F6AB9; font-weight: 600; }
  .account-page.custom-acc-page .order-data .order-item .price { font-size: 20px; font-weight: 700; color: #E50219; font-weight: 700;  } 
.account-page.custom-acc-page .invoice-details{ font-size: 13px;  }

/* progress bar */



.progress-track h4{ font-size: 20px; }

#progressbar {
    margin-bottom: 3vh;
    overflow: hidden;
    color: #161616;
    padding-left: 0px;
    margin-top: 3vh
}


#progressbar li {
    list-style-type: none;
    font-size: 16px;
    width: 16%;
    float: left;
    position: relative;
    font-weight: 700;
   	color: #C1C1C1;
}
#progressbar li.active{  color: #161616; }

#progressbar li span{ display: block; }
#progressbar li span.date{ color: #6E6E6E; font-size: 14px; }

#progressbar #step1:before {
    content: "";
    color: white;
    width: 20px;
    height: 20px;
    margin-left: 0px !important
}

#progressbar #step2:before {
    content: "";
    color: #fff;
    width: 20px;
    height: 20px;
    margin-left: 32%
}

#progressbar #step3:before {
    content: "";
    color: #fff;
    width: 20px;
    height: 20px;
    margin-left: 32%
}


#progressbar #step4:before {
    content: "";
    color: #fff;
    width: 20px;
    height: 20px;
    margin-right: 32%
}
#progressbar #step5:before {
    content: "";
    color: rgb(151, 149, 149, 0.651);
    width: 20px;
    height: 20px;
    margin-right: 0px !important
}



#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: rgb(193, 193, 193);
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    margin-bottom: 1vh
}

#progressbar li:after {
    content: '';
    height: 3px;
    background: rgb(193, 193, 193, 0.651);
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 8px;
    z-index: 1
}

.progress-track {
    padding: 0 0;
}

#progressbar li:nth-child(2):after {
    margin-right: auto
}

#progressbar li:nth-child(1):after {
    margin: auto
}

#progressbar li:nth-child(3):after {
    float: left;
    width: 68%
}

#progressbar li:nth-child(4):after {
    margin-left: auto;
    width: 132%
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #2F9F1E;
}


/* login modal */
.remodal{ font-family: 'Open Sans', sans-serif; }
.remodal-close{
	right: 0 !important; left: auto !important;  color: #707070 !important; 
}
.remodal-close:before{ font-size: 35px !important; }
.remodal-head{ font-weight: 700 !important;  font-size: 28px; margin-bottom: 1rem; }
.remodal p a{ font-size: 14px; color: #0E6AB9 !important; }
.remodal .remodal-legend{ font-size: 14px; color: #161616;  }
.remodal-form-label { font-size: 14px !important; color: #707070; margin-bottom: 8px !important; display: block; }
.remodal-form-input{ height: 45px !important; border: 1px solid #D2D2D2 !important; }
.remodal-submit{ font-weight: 700 !important; text-tansform: uppercase; font-size: 15px !important; background-color: #09609B !important; padding: 12px 20px !important;  }
.remodal p { text-align: left; }
.remodal-close:before, a.close-sl_modal:before{ top: 10px !important; right: 12px !important; left: auto !important; font-size: 50px !important; color: #161616 !important; }

.breadcrumb { 
  background-color: #F2F2F2 !important;
  padding: 1.3rem 1rem !important;
  border-radius: 10px; border-radius: 10px !important;
}

.breadcrumb a{     
  font-size: 16px;
  color: #161616;
  font-weight: 600 !important;
  text-transform: uppercase; 
}

.breadcrumb span {
    font-size: 16px;
    color: #161616;
    font-weight: 700 !important;
}

@media screen and (max-width: 1199px) {
  .account-page.custom-acc-page{ margin: 0; }
.account-page.custom-acc-page .order-container .order-information .cta-links p:not(:last-child) a:after{ content: none; }
}
@media screen and (max-width: 768px) {
  .account-page.custom-acc-page .order-container .order-information .cta-links a{font-size: 15px; }
  .account-page.custom-acc-page .order-container .order-information .cta-links p:not(:last-child) a:after{ right: 0px; font-size: 1.8rem; } 
  .account-page.custom-acc-page .order-container .order-information .product-price{ font-size: 22px; }
  .account-page.custom-acc-page .order-container .order-information .product-description {
    font-size: 14px;
  }
  .account-page.custom-acc-page .order-data .order-item{ width: 98.5%; margin: 0 auto;}
  .other-addreses.card{ width: 47%; }
  
  .account-dropdown a.btn{ padding-left: 0 !important; width: 100%; background: transparent !important; text-align: left; font-size: 15px; font-weight: 700; 
    border: 0;
    border-bottom: 1px solid #C3C3C3 !important;
    color: #CB2026 !important; }
  .account-dropdown .dropdown-menu{ width: 100%; font-size: 15px; font-weight: 600; margin: 0; box-shadow: 2px 3px 3px rgb(0 0 0 / 30%); border: 0;}
  .account-dropdown .dropdown-menu a{ padding: 1rem 0.5rem; color: #161616 !important;  }
  .account-dropdown a.btn:focus{ box-shadow: none !important; }
  .account-dropdown .dropdown-menu a:not(:last-child){border-bottom: 1px solid #d8d8d8 !important; }
   #progressbar li{ font-size: 10px; line-height: 1.1; }
  
}
@media screen and (max-width: 992px) {

  .address-modal{ left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%);  -ms-transform: translateX(-50%);  }
}

@media screen and (max-width: 640px) {
  .other-addreses.card{ width: 100%; }
   .account-page.custom-acc-page .order-container .quantity-circle{ right: 89px; top: 15px; }
  .address-modal{ width: 95%; }
}
