
<div class="brand-template">
  <div class="container">
    {% section 'collection-header-skybags' %}
    {% section 'home-sub-banner' %}

    {% section 'home-custom-block-baner' %}

    {% section 'home-collections-skybags' %}
    
    {% section 'home-slideshow-skybags' %}


    {% section 'home-custom-sub-banner-3-skybags' %}

    {% section 'home-featured-products' %}
  </div>
</div>
