

<div class="category-template hard-luggage">
  <div class="container">
    {% section 'collection-header-hard-luggage' %}
    {% section 'home-sub-banner' %}
    {% section 'home-custom-block-baner' %}
  	{% section 'category-collections' %}
    {% section 'home-custom-sub-banner-3' %}
    {% section 'home-featured-products' %}
  </div>
</div>

