
<div class="brand-template">
  <div class="container">
    {% section 'collection-header-carlton' %}
    {% section 'home-sub-banner' %}

    {% section 'home-custom-block-baner' %}

    {% section 'home-collections-carlton' %}
    
    {% section 'home-slideshow-carlton' %}


    {% section 'home-custom-sub-banner-3-carlton' %}

    {% section 'home-featured-products' %}
  </div>
</div>