

<div class="category-template hard-luggage">
  <div class="container">
    {% section 'collection-header-backpacks' %}
    {% section 'home-sub-banner-backpacks' %} 
    {% section 'home-custom-block-baner' %}
  	{% section 'category-collections-backpacks' %}
    {% section 'home-custom-sub-banner-3' %}
    {% section 'home-featured-products' %}
  </div>
</div>

