
<div class="brand-template">
  <div class="container">
    {% section 'collection-header-vip' %}
    {% section 'home-sub-banner' %}

    {% section 'home-custom-block-baner' %}

    {% section 'home-collections-vip' %}
    
    {% section 'home-slideshow-vip' %}


    {% section 'home-custom-sub-banner-3-vip' %}

    {% section 'home-featured-products' %}
  </div>
</div>