<div class="category-template soft-luggage">
  <div class="container">
    {% section 'collection-header-soft-luggage' %}
    {% section 'home-sub-banner-soft-luggage' %}
    {% section 'home-custom-block-baner' %}
  	{% section 'category-collections-soft-luggage' %}
    {% section 'home-custom-sub-banner-3-soft-luggage' %}
    {% section 'home-featured-products' %}
  </div>
</div>