

<div class="category-template hard-luggage">
  <div class="container">
    {% section 'collection-header-accessories' %} 
    {% section 'home-sub-banner-accessories' %}
    {% section 'home-custom-block-baner' %}
  	{% section 'category-collections-accessories' %}
    {% section 'home-custom-sub-banner-3-accessories' %}
    {% section 'home-featured-products' %}
  </div>
</div>

