

<div class="category-template hard-luggage">
  <div class="container"> 
    {% section 'collection-header-business' %}
    {% section 'home-sub-banner-business' %}
    {% section 'home-custom-block-baner' %}
  	{% section 'category-collections-business' %}
    {% section 'home-custom-sub-banner-3-business' %}
    {% section 'home-featured-products' %}
  </div>
</div>

