
<div class="brand-template">
  <div class="container">
    {% section 'collection-header-aristocrat' %}
    {% section 'home-sub-banner' %}

    {% section 'home-custom-block-baner' %}

    {% section 'home-collections' %}
    
    {% section 'home-slideshow-aristocrat' %}


    {% section 'home-custom-sub-banner-3' %}

    {% section 'home-featured-products' %}
  </div>
</div>