

<div class="category-template hard-luggage">
  <div class="container">
    {% section 'collection-header-duffels' %}  
    {% section 'home-sub-banner-duffels' %}
    {% section 'home-custom-block-baner' %}
  	{% section 'category-collections-duffels' %}
    {% section 'home-custom-sub-banner-3' %}
    {% section 'home-featured-products' %}
  </div>
</div>

